body {
  margin: auto 0;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.img2 {
  border-radius: 50%;
}

.zone {
    color:#FFF;
    font-size:2em;
    border-radius:0px;
    border:1px solid black;
    transition: all 0.3s linear;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
}

/* COVER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: black;
  flex-direction: column;
  font-size: 5em;
}

.frontpage {
  color: black;
  font-size:2.5em;
}

.frontpage > h1 {
  margin: 0px;
}

.aboutme {
  padding-bottom: 120px;
}

.aboutme > h1 {
  margin-top: -160px;
  font-size: 3rem;
  color: white;
  padding: 0px 120px;
}

.aboutme > h2 {
  display: flex;
  font-size: 2rem;
  color: white;
  padding: 0px 500px;
}
.skills {
  color: white;
}

@media only screen and (max-width: 1800px) {
  .main-nav {
    font-size: .5em;
    padding:0px;
  }
  .container {
  font-size: 2em;
  }
  .aboutme > h2 {
    font-size: .6em;
    padding: 0px 20px;
  }
  .aboutme > h1 {
    font-size: .8em;
  }
  .cover {
    max-height: 250px;
    max-width: 250px;
  }
}

.push {
  margin-left: auto;
}

li {
  padding: 20px;
}

a {
  color: white;
  text-decoration: none;
}

/* GRID */
.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  color: black;
}

.thumbnail > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.box > img {
  width: 100%;
}

.box {
  background-color: black;
  padding: 10px;
  margin: 40px 20px;

}

.footer {
  text-align: right;
  font-size: 1em;
  background-color: black;
}

.footer > p {
  color: white;
  padding-right: 10px;
}

.cover {
  /*width: 11rem;
  height: 20rem;*/
  margin-top: 100px;
}

.box:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/

.black {
    background: black; /* Old browsers */
    background: -moz-(black);
    background: -webkit-(black);
    background: -webkit-(black);
    background: -o-(black);
    background: -ms-(black);
    background: black;
}
